table{
	width:80%;
	border-spacing: 5px;
	margin:0 auto;
	
}

table, th, td {
   border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}
th {
    text-align: center;
}

table#details tr:nth-child(even) {
    background-color: #eee;
}
table#details tr:nth-child(odd) {
   background-color: #fff;
}
table#details th {
    background-color: black;
    color: white;
}
header {
    height: 50px;
    border: none;
}

button#cancel {
    height: 35px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
	margin-right: 30px;
}
body{
	background-image:url("../img/background.jpg");
	background-size:100%;
	background-repeat:no-repeat;
}