body{
	background-image:url("../img/background.jpg");
	background-size:100%;
	background-repeat:no-repeat;
}
header{
    background-color: rgba(0,0,0,0.1);
    border:none;
    border-radius: 5px;
    background-image: url("../img/header-background.jpg");
    background-size: 100%;
}
#main_container {
    border: 1px solid white;
    height: 500px;
    margin-top: 50px;
}

#container1 {
    border: none;
    height: 90%;
    width: 18%;
    margin-top: 0.4%;
    margin-left: 1%;
    border-radius: 5px;
}
.child {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 18px 1px grey;
}
#child_1{
	background-image:url("../img/photo1.png");
	background-size:100% auto;
	background-repeat:no-repeat;
    position: absolute;
    top: 10%;
}
#child_2{
	background-image:url("../img/photo2.png");
	background-size:100% auto;
	background-repeat:no-repeat;
    position: absolute;
    top: 45%;
}

#main_box {
    height: 450px;
    position: absolute;
    width: 50%;
    left: 260px;
    top: 71px;
	background-image:url("../img/main_photo.png");
	background-size:100% auto;
    box-shadow: 1px 1px 18px 1px grey;
	
}

#details_box {
    height: 450px;
    position: absolute;
    width: 28%;
    top: 71px;
    right: 15px;
    box-shadow: 1px 1px 18px 1px grey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
}
.s{
    margin-left: 20px;
}
#s1 {
    margin-left: 37.6%;
}
.check{
	
}

#check1{
	margin-left:143px
}

#check2{
	margin-left:10px;
}
#check3{
	margin-left:10px;
}
div#price_container {
    font-size: 30px;
    margin-left: 10px;
}
#P_O {
    margin-left: 100px;
    margin-left: ;
    right: 15px;
    position: absolute;
    bottom: 190px;
	height: 30px;
}