body{
	background-image: url(../img/background.jpg);

}

.product-image-container{
	position: absolute;
	left: 20%;
    top: 30%;
	height: 200px;
	width: 200px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 18px 1px grey;
	background-color: rgba(0,0,0,0.3);
}

.product-image-container1{
	position: absolute;
	left: 40%;
    top: 30%;
	height: 200px;
	width: 200px;
	border: none;
}

.product-image-container2{
	position: absolute;
	left: 60%;
    top: 30%;
	height: 200px;
	width: 200px;
	border: none;
}

.product-image-container3{
	position: absolute;
	left: 80%;
    top: 30%;
	height: 200px;
	width: 200px;
	border: none;
}

#sidenav{
	position: absolute;
	top: 0;
	height: 100%;
	width: 200px;
	background-color: rgba(0,0,0,0.2);
	border: none;
}
.cat{
	font-size: 25px;
	font-weight: bold;
}

a{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}
a:hover{
	color: #f1f1f1;
}

.cart-btn{
	position: absolute;
	left: 27.5%;
	top:61%;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 18px 1px grey;
}

.cart-btn1{
	position: absolute;
	left: 47.5%;
	top:61%;
	height: 40px;
	width: 100px;
	border: none;
	box-shadow: 1px 1px 18px 1px grey;
}

.cart-btn2{
	position: absolute;
	left: 67.5%;
	top:61%;
	height: 40px;
	width: 100px;
	border: none;
	box-shadow: 1px 1px 18px 1px grey;
}

.cart-btn3{
	position: absolute;
	left: 87.5%;
	top:61%;
	height: 40px;
	width: 100px;
	border: none;
	box-shadow: 1px 1px 18px 1px grey;
}

h4{
	text-align: center;
	padding-top: 70px;
}
#searchbar{
	margin: 0 auto;
	margin-top: 6%;

}
#searchfield{
	position: absolute;
	left: 30%;
	height: 30px;
	width:500px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 18px 1px grey;
	font-size: 16px;

}
#searchbtn{
	position: absolute;
	left: 69%;
	padding: 7px;
	border: none;
	border-radius: 10px;
	color: grey;
	font-size: 16px;
	
}

#searchbtn:hover{
	box-shadow: 1px 1px 18px 1px grey;
}

.addproduct{
	position: absolute;
    left: 78%;
    font-size: 50px;
    color: grey;
}
.addproduct:hover{
	color: #f1f1f1;
}
.menu-icon{
	position: absolute;
	left: 1%;
	font-size: 40px;
	cursor: pointer;
	margin-right: 5%;
	
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
	padding-top: 60px;
	background-color: rgba(0,0,0,0.8);
	border: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
a{
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 34px;
    line-height: 40px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}