table{
	width:80%;
	border-spacing: 5px;
    margin:0 auto;
	
}

table, th, td {
   border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}
th {
    text-align: center;
}

table#details tr:nth-child(even) {
    background-color: #eee;
}
table#details tr:nth-child(odd) {
   background-color: #fff;
}
table#details th {
    background-color: black;
    color: white;
    margin-top: 5%;
}
header {
    height: 50px;
    border: none;
}

button#cancel {
    height: 35px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
	margin-right: 30px;
}
body{
	background-image:url("../img/background.jpg");
	background-size:100%;
	background-repeat:no-repeat;
}

#searchfield{
	position: absolute;
	left: 30%;
	height: 30px;
	width:500px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 18px 1px grey;
	font-size: 16px;
	top: 3%;

}
#searchbtn{
	position: absolute;
	left: 69%;
	padding: 7px;
	border: none;
	border-radius: 10px;
	color: grey;
	font-size: 16px;
	top: 3%;
	
}
#searchbtn:hover{
	box-shadow: 1px 1px 18px 1px grey;
}
.total{
	position: absolute;
	left: 80%;
	padding: 7px;
	border: none;
	border-radius: 2px;
	color: white;
	font-size: 16px;
	bottom: 3%;
	background-color: rgba(0,0,0,0.8);
}
.menu-icon{
	position: absolute;
	left: 1%;
	font-size: 40px;
	cursor: pointer;
	margin-right: 5%;
	
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
	padding-top: 60px;
	background-color: rgba(0,0,0,0.8);
	border: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
a{
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 34px;
    line-height: 40px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
